streamlit
numpy
pandas
torch
torchvision
torchaudio 
Cython
opencv-python-headless
Pillow
PyYAML
scipy
tensorboard
tqdm
pycocotools
seaborn 
matplotlib
onnx
Cython
denoiser
psutil
streamlit_webrtc
av
