#/home/appuser/venv/bin/python -m pip install --upgrade pip
streamlit
numpy
pandas
torch
torchvision
torchaudio 
Cython
opencv-python
Pillow
PyYAML
scipy
tensorboard
tqdm
pycocotools
seaborn 
matplotlib
onnx
thop
Cython
audio-recorder-streamlit
audiorecorder
#ipython
#sounddevice
time
denoiser
moviepy
cv2
pydub
streamlit_toggle
psutil
wave
av
tempfile
